/*! Brief Player Default Theme */
.briefplayer {
	margin: 1em 0;
	padding: .3em 0;
	font-size: .7em;
	background-color: #F5F5F5;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#bp_controls {
	margin: .2em 0 0 .5em;
	padding: 0;
	float: left;
}

#bp_controls a {
	display: block;
	width: 14px;
	height: 14px;
}

#bp_controls #bp_play {
	background: url("play-icon.png") top left no-repeat;
	background-size: 14px 14px;
}

#bp_controls #bp_pause {
	display: none;
	background: url("pause-icon.png") top left no-repeat;
	background-size: 14px 14px;
}

#bp_controls a {
	font-size: 1.4em;
	color: #262626;
}

.bp-time-holder {
	margin: 0 .5em;
	line-height: 1.8em;
	float: left;
}

.bp-progress-bar {
	position: relative;
	margin: .6em .2em;
	float: left;
	min-width: 200px;
	height: 8px;
	background-color: #4A4A4A;
	cursor: pointer;
	direction: ltr;
}

.bp-bars {
	position: absolute;
	display: block;
	width: 100%;
	cursor: pointer;
	direction: ltr;
}

.bp-loaded-bar {
	position: absolute;
	display: block;
	background-color: #B9B9B9;
	height: 8px;
	cursor: pointer;
	direction: ltr;
}

.bp-played-bar {
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	background-color: #4A4A4A;
	height: 8px;
	cursor: pointer;
	direction: ltr;
}

#bp_no_solution {
	margin: 0 .2em;
	font-size: 1.2em;
	text-align: center;
	display: none;
}

/*! Helpers */
/*! Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,.cf:after {display:table; content:"";}
.cf:after {clear:both;}
.cf {zoom:1;}
